@charset "utf-8";

:root {
  --page-padding: 56px;
}

body {
  padding-right: var(--page-padding);
  padding-left: var(--page-padding);
}

@media screen and (max-width: 991px) {
  body {
    --page-padding: 44px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
