---
import "../styles/hero-gradient.scss";
---

<section class="relative isolate px-6 pt-14 lg:px-8">
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
  >
  </div>
</section>
