---
import "../styles/hero-gradient.scss";
---

<section class="relative isolate px-6 pt-14 lg:px-8">
  <div class="bg-gradient">
    <div class="bg-gradient-container">
      <div class="gradient-1"></div>
      <div class="gradient-2"></div>
      <div class="gradient-3"></div>
      <div class="gradient-4"></div>
      <div class="gradient-5"></div>
    </div>
  </div>
</section>
