<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-center p-6 lg:px-8">
    <div class="flex gap-x-12">
      <a href="#" class="text-base font-light text-white">Projects</a>
      <a href="#" class="text-base font-light text-white">Documentation</a>
      <a href="#" class="text-base font-light text-white">Blog</a>
      <a href="#" class="text-base font-light text-white">About</a>
    </div>
  </nav>
</header>
