<section class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-center p-6 lg:px-8">
    <div class="flex gap-x-12">
      <a
        href="#"
        class="text-base font-light text-white hover:text-indigo-200 transition-colors duration-300"
        >Projects</a
      >
      <a
        href="#"
        class="text-base font-light text-white hover:text-indigo-200 transition-colors duration-300"
        >Documentation</a
      >
      <a
        href="#"
        class="text-base font-light text-white hover:text-indigo-200 transition-colors duration-300"
        >Blog</a
      >
      <a
        href="#"
        class="text-base font-light text-white hover:text-indigo-200 transition-colors duration-300"
        >About</a
      >
    </div>
  </nav>
</section>
