<nav class="container">
  <div class="nav-menu">
    <div class="nav-menu-item">
      <a role="button" href="/" class="nav-link">Item 1</a>
    </div>
    <div class="nav-menu-item">
      <a role="button" href="/" class="nav-link">Item 2</a>
    </div>
    <div class="nav-menu-item">
      <a role="button" href="/" class="nav-link">Item 3</a>
    </div>
  </div>
</nav>

<style>
  nav {
    z-index: 999;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
  }

  .nav-inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }

  .nav-menu {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 991px) {
    .nav-menu-item {
      margin-right: 10px;
    }
  }

  .nav-menu-item {
    margin-right: 26px;
  }

  .nav-menu-item:last-child {
    margin-right: 0;
  }
</style>
