---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zerodev</title>
  </head>
  <body class="flex min-h-screen max-w-screen flex-col overflow-x-clip">
    <main class="relative flex flex-1 flex-col bg-gray-900 text-gray-50">
      <slot />
    </main>
  </body>
</html>
