name: Deploy Site

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5

            - name: Connect to Tailscale
              uses: tailscale/github-action@v4
              with:
                oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
                oauth-secret:    ${{ secrets.TS_OAUTH_SECRET }}
                tags:            tag:zerodev-ci
                version:         latest
            
            - name: Ping target
              run: tailscale ping ${{ secrets.TARGET_TS_IP }}
            
            - name: SSH into server
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.TARGET_TS_IP }}
                username: ${{ secrets.USER_NAME }}
                password: ${{ secrets.USER_PASSWORD }}
                port: 22
                script: whoami
